*{

padding: 0px;
margin: 0px;

}

.formulario{


background-color: crimson ;

}
.formRegis h3 {
 fort-size: 28px;
 color: skyblue(243, 132, 6);


}

.entrada{
    width: 400px;
    padding: 8px;
    border-radius: 10px;
   border: 1px solid blue;
   background-color: aliceblue(241, 241, 234j);
}

.enviar{

 margin-left: auto;


}